{% case block.type %}

  {% when "text" %}
    <p class="blog-text">{{ block.content | markdownify }}</p>

  {% when "image" %}
    <figure>
      <img src="{{ block.src }}" alt="{{ block.altText }}">
      {% if block.caption %}
        <figcaption>{{ block.caption }}</figcaption>
      {% endif %}
    </figure>

  {% when "video" %}
    <figure>
      <iframe src="{{ block.url }}" frameborder="0" allowfullscreen></iframe>
      {% if block.caption %}
        <figcaption>{{ block.caption }}</figcaption>
      {% endif %}
    </figure>

{% endcase %}