<section class="one-column">
  {% for block in section.content_blocks %}
    {% case block._block %}
      {% when "text_block" %}
        {% include blocks/text.html block=block %}
      {% when "image_block" %}
        {% include blocks/image.html block=block %}
      {% when "video_block" %}
        {% include blocks/video.html block=block %}
      {% when "comparison_block" %}
        {% include blocks/comparison.html block=block %}
      {% when "slideshow_block" %}
        {% include blocks/slideshow.html block=block %}
    {% endcase %}
  {% endfor %}
</section>