<!doctype html>
<html lang="en">
  <head>
    {% include metadata.html %}
  </head>
  <body>
    {% include header.html %}
    <main>
      <div class="blog-block">
        <h2><span style="text-transform: uppercase">{{ page.title }}</span>: Project Breakdown</h2>
        <p class="map-desc">{{ page.description}}</p>
        <div class="info">
          <span class="blog-author">Brenden M.</span>
          <span class="blog-separator">-</span>
          <span class="blog-role">{{ page.mainRole }}</span>
          <span class="blog-separator hm">&#8226;</span>
          <span class="blog-date">{{ page.date | date: "%B %d, %Y" }}</span>
        </div>
        <div class="blog-content">
          {% if page.sections %}
            {% for section in page.sections %}

              {% if section.layout == "one-column" %}
                <div class="single">
                  {% include section-content.html content=section.content %}
                </div>
              {% endif %}

              {% if section.layout == "two-column" %}
                <div class="split">
                  <div class="left">
                    {% include section-content.html content=section.left %}
                  </div>
                  <div class="right">
                    {% include section-content.html content=section.right %}
                  </div>
                </div>
              {% endif %}

            {% endfor %}
          {% endif %}
        </div>
      </div>
    </main>
    <footer>
      <p class="bmol">{{ site.time | date: '%Y' }} &copy; Brenden Moloney</p>
      <p class="pablosrc">Created with &#9825; by <a href="https://pablosrc.github.io/" target="_blank">PabloSRC</a></p>
    </footer>
  </body>
  </html>


<!-- <script>
const container = document.querySelector('.container');
document.querySelector('.slider').addEventListener('input', (e) => {
  container.style.setProperty('--position', `${e.target.value}%`);
})
</script> -->

<script>
  document.querySelectorAll('.container').forEach(container => {
    const slider = container.querySelector('.slider');
    slider.addEventListener('input', e => {
      container.style.setProperty('--position', `${e.target.value}%`);
    });
  });
</script>